# ESLint Ignore
# Does not inherit from .gitignore

# @kitschpatrol/repo-config boilerplate
.astro/
.DS_Store
.env
.env.*
!.env.example
.svelte-kit/
{tmp,temp}/
**/*.min.js
/scratch/
bower_components/
build/
coverage/
dist/
env.d.ts
node_modules/
vendor/

# @kitschpatrol/eslint-config boilerplate
/patches/

# Customizations
/test/assets/test-obsidian-vault/Cards/Group 1/Sub Group/test card.md
/test/assets/test-obsidian-vault/Cards/Group 1/Sub Group/test card.md
/test/assets/test-obsidian-vault/Cards/Group 1/test card.md
/test/assets/test-obsidian-vault/Cards/Group 1/test image.md
/test/assets/test-obsidian-vault/Cards/Group 1/test image.md
/test/assets/test-obsidian-vault/Cards/Group 2/test card.md
/test/assets/test-obsidian-vault/Cards/Group 2/test image.md
/test/assets/test-obsidian-vault/Cards/Group 2/test image.md
/test/assets/test-obsidian-vault/Cards/Markdown/audio.md
/test/assets/test-obsidian-vault/Cards/Markdown/images.md
/test/assets/test-obsidian-vault/Cards/Markdown/links.md
/test/assets/test-obsidian-vault/Cards/Markdown/video.md
/test/assets/test-obsidian-vault/test card.md
/test/assets/test-obsidian-vault/test image.md
/test/assets/test-unexpected-formatting/basic-and-reversed-card-with-confusing-setext-headline.md
/test/assets/test-unexpected-formatting/basic-with-confusing-setext-headline.md
/test/assets/test-unexpected-formatting/basic-with-tight-spacing-and-frontmatter.md
/test/assets/test-unexpected-formatting/basic-with-tight-spacing.md
