# Git Ignore
# Also used by CSpell, Stylelint, and ESLint

# @kitschpatrol/repo-config boilerplate
!.env.example
.agents/
.astro/
.claude/
.DS_Store
.env
.env.*
.eslint-config-inspector
.pnpm-store/
.svelte-kit/
.vitest/
.worktrees/
{tmp,temp}/
**/*.min.js
/scratch/
bower_components/
build/
coverage/
dist/
node_modules/
skills-lock.json
vendor/

# Customizations
/src/test.ts
/test/assets/test obsidian vault with spaces/.obsidian/workspace.json
/test/assets/test obsidian vault with spaces/.obsidian/plugins
/test/assets/test-obsidian-vault/.obsidian/workspace.json
/test/assets/test-obsidian-vault/.obsidian/plugins
__pycache__
