# Git Ignore
# Also used by CSpell, Stylelint, and ESLint

# @kitschpatrol/repo-config boilerplate
.astro/
.DS_Store
.env
.env.*
!.env.example
.eslint-config-inspector
.svelte-kit/
{tmp,temp}/
**/*.min.js
/scratch/
bower_components/
build/
coverage/
dist/
node_modules/
vendor/

# Customizations
/src/test.ts
/test/assets/test obsidian vault with spaces/.obsidian/workspace.json
/test/assets/test-obsidian-vault/.obsidian/workspace.json
