# Prettier Ignore
# Also respects .gitignore

# @kitschpatrol/prettier-config boilerplate
pnpm-lock.yaml
package-lock.json

# Customizations
test/assets/test-obsidian-vault/
test/assets/test-tags/
test/assets/test-unexpected-formatting/
test/assets/test\ obsidian\ vault\ with\ spaces/
